/* Your app styles here */
.f7-icons{
    font-size: 20px;
}
.size-20 {  font-size: 20px }
.size-22 {  font-size: 22px }
.size-25 {  font-size: 25px }
.size-29 {  font-size: 29px }
.size-36 {  font-size: 36px }
.size-50 {  font-size: 50px }
.size-75 {  font-size: 75px }
.size-100 { font-size: 100px }
.size-150 { font-size: 150px }

.margin-top-8{ 		margin-top: 8px !important; }
.margin-top-24{ 	margin-top: 24px !important; }
.margin-top-32{ 	margin-top: 32px !important; }
.margin-top-48{ 	margin-top: 48px !important; }

.margin-bottom-8{ 	margin-bottom: 8px !important; }
.margin-bottom-24{ 	margin-bottom: 24px !important; }
.margin-bottom-32{ 	margin-bottom: 32px !important; }
.margin-bottom-48{ 	margin-bottom: 48px !important; }

.margin-auto{
    margin: auto !important;
}

.flex-direction-reverse {
    flex-direction: row-reverse !important;
}


.ios .theme-dealer .navbar, 
.md .theme-dealer .navbar{
    background: #fff;
    color: #414042;
}
.ios .theme-dealer .navbar a{
	color: #414042;
}

.md .theme-dark .block-title{
	text-transform: uppercase;
	color: #999999;
}


.md .theme-dark .page, .page.md .theme-dark,
.ios .theme-dark .page, .page.ios .theme-dark{
	background: #333333;
}

.bg-dark-grey{
	background: #333333;
}
.text-color-dark-grey{
	color: #333;
}

.bg-color-dealer{
	background-color: #BC2132 !important;
}
.text-color-dealer{
	color: #BC2132 !important;
}
.color-dealer{
	color: #BC2132 !important;
}

.theme-dealer .list .item-link.no-bg-arrow-right .item-inner{
	background-image: none;
	padding-right: 16px;
}

.theme-dealer .list .item-header{
	color: #999999;
}
.theme-dealer .list .item-footer{
	color: #999999;
}


.ios .theme-dark.theme-dealer .navbar:after, 
.navbar.ios .theme-dark.theme-dealer:after{
	background: transparent;
}
.ios .theme-dealer .tabbar-custom~* .page-content, 
.ios .theme-dealer .tabbar-custom~.page-content{
	padding-top: 88px;
	padding-bottom: 0;
}
.ios .theme-dealer .tabbar-custom~* .page-content.with-bottom-button{
	padding-bottom: 74px;
}
.md .theme-dealer .tabbar-custom2{
	height: 80px;
}
.ios .theme-dealer .tabbar-custom2{
	height: 74px;
}

.md .theme-dealer .tabbar-custom2~.page-content{
	padding-bottom: 80px;
}
.ios .theme-dealer .tabbar-custom2~.page-content{
	padding-bottom: 74px;
}

.ios .theme-dealer .list ul 
{
	background: transparent;
}
.ios .theme-dark.theme-dealer .list ul:after,
.ios .theme-dark.theme-dealer .list ul:before,
.ios .theme-dark.theme-dealer .item-inner:after{
	background-color: rgba(255,255,255,.08);
}

.md .theme-dealer .item-input-wrap:after{
	display: none;
}

.md .theme-dealer .list .item-footer{
	color: rgba(255,255,255,.54);
}
/* 
.ios .theme-dealer .item-input .item-media, */
.md .theme-dealer .item-input .item-media{
	-webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.md .theme-dealer .toolbar:not(.messagebar),
.ios .theme-dealer .toolbar{
	    background: #333;
}
.md .theme-dealer .login-screen-content .toolbar:not(.messagebar), 
.ios .theme-dealer .login-screen-content .toolbar{
	/* background: #333333; */
}

.md .theme-dealer .toolbar.tabbar-custom,
.ios .theme-dealer .toolbar.tabbar-custom{
	background: #fff;	
}
.ios .theme-dealer .toolbar.tabbar-custom{
	bottom: auto;
	top: 44px;
}
.md .tabbar.tabbar-custom a.tab-link.tab-link-active{
	color: #BC2132;
}

.md .tabbar.tabbar-custom a.tab-link{
	color: #414042;
}

.md .tabbar.tabbar-custom .tab-link-highlight{
	background: #BC2132;
}

.ios .theme-dark.theme-dealer .toolbar:before,
.md .theme-dealer .toolbar:before{
	content: '';
    position: absolute;
    /* background-color: #c4c4c4; */
    display: block;
    z-index: 15;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

	background: rgba(255,255,255,.08);
}
.ios .theme-dark.theme-dealer .login-screen-content .toolbar:before,
.md .theme-dealer .login-screen-content .toolbar:before{
	display: none;
}

.ios .bottom-buttons-wrapper{
	padding: 15px;
}
.md .bottom-buttons-wrapper{
	padding: 16px;
}

.md .icon-back{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.ios .theme-dealer .icon-back{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'12'%20height%3D'20'%20viewBox%3D'0%200%2012%2020'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M.18261596%209.4221638c.0352203-.05148305.07573462-.10050698.1215468-.14631917L9.1425872.4374202c.5830904-.58309038%201.52656832-.5849888%202.11643872.00488163.5857864.58578644.591222%201.53009836.0048816%202.11643873L3.82594417%209.9967039l7.43188553%207.4318855c.5830904.5830904.5849888%201.5265683-.0048817%202.1164387-.5857864.5857865-1.5300983.591222-2.11643868.0048816L.2980849%2010.7114853c-.3526746-.3526746-.3939974-.89699-.11546894-1.2893215z'%20fill%3D'%23000000'%20fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E");
}
.ios .theme-dealer .popup .toolbar  .icon-back{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D'12'%20height%3D'20'%20viewBox%3D'0%200%2012%2020'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M.18261596%209.4221638c.0352203-.05148305.07573462-.10050698.1215468-.14631917L9.1425872.4374202c.5830904-.58309038%201.52656832-.5849888%202.11643872.00488163.5857864.58578644.591222%201.53009836.0048816%202.11643873L3.82594417%209.9967039l7.43188553%207.4318855c.5830904.5830904.5849888%201.5265683-.0048817%202.1164387-.5857864.5857865-1.5300983.591222-2.11643868.0048816L.2980849%2010.7114853c-.3526746-.3526746-.3939974-.89699-.11546894-1.2893215z'%20fill%3D'%23ffffff'%20fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E");
}

.ios .list .item-media{
	min-width: 29px;
}
.theme-dealer .multilpe-rows{
	white-space: normal;
    word-wrap: break-word;
}

.md .theme-dark .dialog-inner input{
	color: #212121;
}	
.md .theme-dark .dialog-inner .item-input:after {
    content: '';
    position: absolute;
    background-color: #d2d2d6;
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

/* For framework7 long tap */
.page .list-alarm{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.md .dialog .list {

}

.md .dialog .list .item-content,
.ios .dialog .list .item-content{
    text-align: left;
    padding-left: 0;
}
.ios .theme-dark.theme-dealer .dialog .item-inner:after{
        background-color: #282829;
}
.md .dialog .list .item-content .item-label{
  color: rgba(0,0,0,.65);
}
.md .dialog .list .item-content textarea{
    color: #212121;
}
    .md .dialog .list .item-content textarea::-webkit-input-placeholder { 
        color: #999999;
    }
    .md .dialog .list .item-content textarea::-moz-placeholder { 
        color: #999999;
    }
    .md .dialog .list .item-content textarea:-ms-input-placeholder {
        color: #999999;
    }
    .md .dialog .list .item-content textarea:-moz-placeholder { 
        color: #999999;
    }
.ios .theme-dark.theme-dealer .dialog .item-content input,
.ios .theme-dark.theme-dealer .dialog .item-content textarea{
    color: #000;
}
.md .dialog .list label.item-radio>.icon-radio{
    margin-right: 16px;
}
/* PANEL-LEFT */
.menu-header{
	padding: 32px 16px;
	background: url('../images/header_menu.png') no-repeat left top;
	background-size: cover;
	background-color: #333333;
}
	.user-photo {
	    width: 60px;
	    height: 60px;
	    /* background: #1D5886; */
	    border-radius: 50%;
	}


/* LOGIN SCREEN */

.login-screen-content.md .theme-dark, 
.md .theme-dark .login-screen-content,
.ios .theme-dark .login-screen-content
{
    background: url('../images/bg.png') no-repeat center center;
    background-size: cover;
}

.logo{

}
    .logo img{
        width: 100%;
        max-width: 320px;
    }

    .ios .theme-dealer .login-screen-content .list input,
    .md .theme-dealer .login-screen-content .list input{
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        /* color: #000 !important; */
        padding-left: 16px;
        padding-right: 40px;
        transition: all .3s;
        background-color: #fff;
        background-color: rgba(255,255,255,.8);
        color: #000;
    }
    .ios .theme-dealer .login-screen-content .list input{
    	margin-top: 8px;
    	margin-bottom: 8px;
    }
    /* .ios .login-screen-content .list .item-content{    
    	margin-bottom: 15px;
    }
    .ios .login-screen-content .list .item-content:last-child{
    	margin-bottom: 0;
    } */

    .login-screen-content .item-input input::-webkit-input-placeholder { 
	 	color: #6B6B6B  !important;
	}
	.login-screen-content .item-input input::-moz-placeholder { 
	 	color: #6B6B6B  !important;
	}
	.login-screen-content .item-input input:-ms-input-placeholder {
	 	color: #6B6B6B  !important;
	}
	.login-screen-content .item-input input:-moz-placeholder { 
	 	color: #6B6B6B  !important;
	}
    .theme-dealer .login-screen-content .list .item-input-wrap:after{
        display: none;
    }
    .md .login-screen-content .input-clear-button,
    .ios .login-screen-content .input-clear-button{
        margin-right: 8px;
    }
    .md .input-clear-button.password-clear-button,
    .ios .input-clear-button.password-clear-button{
        margin-right: 48px;
    }
    
    .password-toggle {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px 10px 3px 5px;
        cursor: pointer;
        transition: all .3s;
    }
	.ios .password-toggle{
		padding: 12px 13px 8px 5px;
    }

    .forget_pwd_wrapper {
        padding-right: 16px;
    }
        .forget_pwd_wrapper a{
            /* text-transform: uppercase; */
            text-decoration: underline
        }
            .forget_pwd_wrapper a:hover{
                text-decoration: none;
            }

/* LOCATION */

.geolock-list{
   /*  margin: 0  */
}
.md .geolock-list label.item-radio>.icon-radio{
    margin-right: 16px;
}

/* MAP */


#map{

    width: 100%;
    height: 100%;
  }

  .leaflet-control-layers-toggle{
    background-image: url('../images/change-map.svg') !important;
    background-size: 100% 100% !important;
  }

  .leaflet-control-layers:not(.leaflet-control-layers-expanded){
    border-radius: 50%;
  }
  .leaflet-popup-content-wrapper{
    border-radius: 6px;
  }
  .leaflet-popup-content{
    margin: 18px 24px;
  }
    .marker-data-table{
      
    }
      .marker-data-table td{
        border-bottom: 1px solid #E6E6E6;
        font-size: 13px;
          line-height: 1.2;
          padding: 4px 0;
          vertical-align: text-top;
      }
      .marker-data-table tr:last-child td{
        border-bottom: 1px solid transparent;
      }
      .marker-data-table .marker-data-caption{
        text-align: left;        
        white-space: nowrap;
        color: #818181;
        
      }
      .marker-data-table .marker-data-value{
        text-align: right;
        color: #333;
        font-weight: 600;
        padding-left: 10px;
      }
      .leaflet-popup-close-button{
        /* display: none; */
      }
      .leaflet-control-layers-selector{
        visibility: hidden;
        width: 1px;
          margin: 0;
      }
      .leaflet-control-layers-scrollbar{
        overflow: auto;
      }
      .leaflet-control-layers label{
        display: inline-block;
        margin: 8px 8px;
        color: #999999;
        cursor: pointer;
      }

      .layer-icon{
        width: 72px;
      }
      .leaflet-control-layers-base p{
        margin: 0;
        font-size: 14px;
        font-weight: bold;
          padding-left: 4px;
      }

      .leaflet-control-layers-base input[type=radio]:checked + span{
        color: #000;
      }
      
      input[type=checkbox].leaflet-control-layers-selector{
        visibility: visible;
        width: 16px;
      }

        .leaflet-control-layers-overlays span{
          margin: 0;
          font-size: 14px;
          font-weight: bold;
            padding-left: 4px;
        }

        .leaflet-control-layers-overlays input[type=checkbox]:checked + span{
          color: #000;
        }


/* MESSAGES */

.alarm-messages{

}
    .alarm-messages .card .card-header{
       /*  display: block; */
    }
    .ios .alarm-messages .card .card-header{
        font-size: 15px;
    }
        .alarm-messages .card .card-header .card-header-img{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;            
        }
        .alarm-messages .card .card-header .card-header-inner{
            position: relative;
            width: 100%;
           /*  padding-top: 8px;
           padding-bottom: 8px; */
            min-width: 0;
           /*  display: -webkit-box;
           display: -webkit-flex;
           display: -ms-flexbox; */
            display: block;
                margin-left: 16px;
           /*  -webkit-box-pack: justify;
           -webkit-justify-content: space-between;
           -ms-flex-pack: justify;
           justify-content: space-between;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
           -webkit-box-align: center;
           -webkit-align-items: center;
           -ms-flex-align: center;
           align-items: center;
           -webkit-align-self: stretch;
           -ms-flex-item-align: stretch;
           align-self: stretch; */
        }

    .md .alarm-messages .card .card-date,
    .ios .alarm-messages .card .card-date{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
        white-space: normal;

        color: #999999;
    }
    .alarm-messages .card .card-title{
        
    }